.city-modal {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	width: 225px;
	background-color: var(--color-light);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	transition-duration: var(--transition-duration);

	&__inner {
		padding: 20px;
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}

	&__text {
		font-size: 15px;
		max-width: 130px;
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
		align-items: flex-start;
	}

	&__button {
		@include button-reset;

		font-size: 15px;
		font-weight: 500;

		&:where(:not(.city-modal__close-button)):after {
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background: var(--gradient);
			opacity: 0;
		}

		@include hover {
			background: var(--gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

			&::after {
				opacity: 1;
			}
		}
	}

	&__close-button {
		position: absolute;
		top: 15px;
		right: 15px;
	}
}