.memory-button {
	@include button-reset;
	@include flex-center(true);
	
	background-color: transparent;
	border-radius: var(--border-radius-small);
	width: 100px;
	height: var(--button-height-small);
	border: var(--border);
	transition-duration: var(--transition-duration);

	&.active {
		background-color: var(--color-gray-dark) !important;
		color: var(--color-light) !important;
	}

	&:where(.memory-button__cart) {
		cursor: default;
	}

	&:where(:not(.memory-button__cart)) {
		@include hover {
			background-color: var(--color-gray-dark);
			color: var(--color-gray-medium);
		}
	}

	&__input {
		display: none;
	}
}