.reviews-card {
	padding: 30px;
	background-color: var(--color-light);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	max-width: 356px;

	&__header {
		display: flex;
		flex-direction: column;
		row-gap: 5px;
		margin-bottom: 20px;
	}

	&__name {
		font-weight: 600;
	}
}