.sim-button {
	@include button-reset;
	@include flex-center(true);
	
	background-color: transparent;
	border-radius: var(--border-radius-small);
	padding-inline: 22px;
	height: var(--button-height-small);
	border: var(--border);

	// &:has(input[type="radio"]:checked) {
	// 	background-color: var(--color-gray-dark);
	// 	color: var(--color-light);
	// }

	&:where(.sim-button__cart) {
		cursor: default;
	}

	&:where(:not(.sim-button__cart)) {
		@include hover {
			background-color: var(--color-gray-dark);
			color: var(--color-gray-medium);
		}
	}

	&__input {
		display: none;

		&.active {
			background-color: var(--color-gray-dark);
			color: var(--color-light);
		}
	}
}

.just-validate-error {
  border-color: red !important;
}

.just-validate-error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}