<div class="perm-modal">
	<div class="perm-modal__inner">
		<p class="perm-modal__text">Ваш город <span>Пермь</span>?</p>

		<div class="perm-modal__buttons">
			<button type="button" class="perm-modal__button perm-modal__button-accept">Да</button>
			<button type="button" class="perm-modal__button perm-modal__button-decline perm-modal__button--no-border">Нет</button>
		</div>
	</div>
</div>

<div class="city-modal">
	<div class="city-modal__inner">
		<p class="city-modal__text">Выберите свой город из списка</p>

		<div class="city-modal__buttons">
			<button type="button" class="city-modal__button city-modal__button-name">Пермь</button>
			<button type="button" class="city-modal__button city-modal__button-name">Екатеринбург</button>
		</div>

		<button type="button" class="city-modal__button city-modal__close-button cross-button">
			<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L11 11M1 11L11 1" stroke="black" />
			</svg>

			<span class="visually-hidden">Закрыть</span>
		</button>
	</div>
</div>