<section class="section hero container">
	<div class="hero__inner">
		<h2 class="visually-hidden">Наши товары</h2>

		<div class="swiper">
			<div class="hero__list swiper-wrapper">
				<div class="hero__screen swiper-slide">
					<img src="../img/hero/1.jpg" alt="" width="1750" height="760" loading="lazy" class="hero__screen-background">
					<a href="#catalog" class="hero__screen-button button mobile-hidden"><span class="button__text">Перейти к каталогу</span></a>
				</div>
				<div class="hero__screen swiper-slide">
					<img src="../img/hero/2.jpg" alt="" width="1750" height="760" loading="lazy" class="hero__screen-background">
					<a href="#catalog" class="hero__screen-button button mobile-hidden"><span class="button__text">Перейти к каталогу</span></a>
				</div>
				<div class="hero__screen swiper-slide">
					<img src="../img/hero/3.jpg" alt="" width="1750" height="760" loading="lazy" class="hero__screen-background">
					<a href="#catalog" class="hero__screen-button button mobile-hidden"><span class="button__text">Перейти к каталогу</span></a>
				</div>
				<div class="hero__screen swiper-slide">
					<img src="../img/hero/4.jpg" alt="" width="1750" height="760" loading="lazy" class="hero__screen-background">
					<a href="#catalog" class="hero__screen-button button mobile-hidden"><span class="button__text">Перейти к каталогу</span></a>
				</div>
				<div class="hero__screen swiper-slide">
					<img src="../img/hero/5.jpg" alt="" width="1750" height="760" loading="lazy" class="hero__screen-background">
					<a href="#catalog" class="hero__screen-button button mobile-hidden"><span class="button__text">Перейти к каталогу</span></a>
				</div>
				<div class="hero__screen swiper-slide">
					<img src="../img/hero/6.jpg" alt="" width="1750" height="760" loading="lazy" class="hero__screen-background">
					<a href="#catalog" class="hero__screen-button button mobile-hidden"><span class="button__text">Перейти к каталогу</span></a>
				</div>
				<div class="hero__screen swiper-slide">
					<img src="../img/hero/7.jpg" alt="" width="1750" height="760" loading="lazy" class="hero__screen-background">
					<a href="#catalog" class="hero__screen-button button mobile-hidden"><span class="button__text">Перейти к каталогу</span></a>
				</div>
			</div>
		</div>

		<div class="swiper-pagination hero__slider"></div>
	</div>
</section>