<div class="sort-modal">
	<div class="sort-modal__inner">
		<p class="sort-modal__title h3">Сортировка</p>
		<form action="" class="sort-modal__form">
			<div class="sort-modal__field">
				<input type="radio" name="sort" id="ascending" class="sort-modal__input" checked>
				<label for="ascending" class="sort-modal__label">По возрастанию</label>
			</div>

			<div class="sort-modal__field">
				<input type="radio" name="sort" id="discending" class="sort-modal__input">
				<label for="discending" class="sort-modal__label">По убыванию</label>
			</div>
		</form>
	</div>
</div>